
"\em": accept-line
"\ew": backward-kill-word
"\ea": beginning-of-line
"\ee": end-of-line
"\e.": kill-whole-line
"\el": clear-screen
"\ej": backward-delete-char
"\ep": beginning-of-history
"\en": end-of-history
"\ec": backward-word
"\ek": kill-line
"\er": history-search-backward
"\es": history-search-forward
#"\e<": beginning-of-history
#"\e>": end-of-history
"\ei": backward-char
"\e,": forward-char
"\eu": undo
"\eo": complete
#"\e-": menu-complete-backward
#"\e%": "~/"
#"\e*": menu-complete-backward
"\e[24~": abort
"\ex": delete-char
"\eg": universal-argument
"\e&": "\C-e > /dev/null 2>&1 &"
"\e)": "\C-a(\C-e)"
"\e71": "../"
"\e72": "../../"
"\e73": "../../../"
"\e74": "../../../../"
"\e75": "../../../../../"

set completion-ignore-case on
set bell-style none
